# Basic syntax

In [ ]:
#int===> +2 ,+3,-10
#float==> 12.23,-101.5
#string==> "ali","a","k","python"

In [3]:
#12a=12==> na dorost ==> nabyad avalesh adad bashad
#ali amir=24===> fasele nabayad beine esme moteghair ha bashad
#amir_rezaiy=28==> dorost ==> underline moshkeli nadard
#str==>> esm haye az ghabl tarif shode ra dar python gharar nadahid

In [4]:
a=10
b=20
print(a+b)
print(b-a)
print(b/a)
print(b%a)
print(b*a)
print(b**a)

30
10
2.0
0
200
10240000000000

In [8]:
name1="ali"
name2="amir"
print(name1,name2)
print(name1)
print(name2)

ali amir
ali
amir

In [9]:
#type ==> neshan dadane noe moteghair
name1="alireza"
number1=20
number2=20.5
print(type(name1))
print(type(number1))
print(type(number2))

<class 'str'>
<class 'int'>
<class 'float'>

# moghayese

In [11]:
a=8
b=10
print(a)

8

In [12]:
a>b

False

In [13]:
a<b

True

In [14]:
num1=12
num2=12
num1>num2

False

In [15]:
num1<num2

False

In [16]:
num1==num2

True

In [17]:
num1>=num2

True

In [18]:
num1!=num2

False

# shart ya condition

In [23]:
number1=20
number2=30
if number1>number2:
    print("number1 is higher than number2")
elif number1==number2:
    print("number1 is equal to number 2")
else:
    print("number1 is lower than number2")

number1 is lower than number2

# input

In [30]:
number1=int(input("Please enter the number of days that you want to know:"))
if number1==1:
    print("today is saturday")
elif number1==2:
    print("today is sunday")
elif number1==3:
    print("today is monday")
elif number1==4:
    print("today is tuesday")
elif number1==5:
    print("today is wednesday")
elif number1==6:
    print("today is thursday")
elif number1==7:
    print("today is friday")
else:
    print("Your number is wrong")
    
print(type(number1))

Please enter the number of days that you want to know:5
today is wednesday
<class 'int'>

In [29]:
name=input("Please enter your name:")
if name=="ali":
    print("Your name is true")
else:
    print("your name is false")
print(type(name))

Please enter your name:ali
Your name is true
<class 'str'>

In [3]:
number=float(input("Please enter the number:"))
if number>=50:
    print(f" {number} is higher than 50 or equal to 50")
else:
    print(f"{number} is lower than 50")

Please enter the number:29
29.0 is lower than 50

# halghe==> loop
1) for
2) while

### for

In [5]:
for i in range(1,21): # (ebteda, enteha+1)
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
for i in range(1,31):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [8]:
for i in range(1,32,2):# (edbteda,enteha+1, step)
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31

In [11]:
number=int(input("Please enter the number that you want to factoreil:"))
fact=1
for i in range(1,number+1):
    fact=fact*i
print(fact)

Please enter the number that you want to factoreil:6
720

# while

In [5]:
i=1
while i<20:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
i=0
while i<3:
    number=int(input("Please enter number of inputs:"))
    print(number)
    i=i+1

Please enter number of inputs:20
20
Please enter number of inputs:10
10
Please enter number of inputs:40
40

In [8]:
i=1
fact=1
number=int(input("Please enter the number:"))
while(i<number+1):
    fact=fact*i
    i=i+1
print(fact)

Please enter the number:5
120

# break==> kharej shodan az halghe zamani ke shoma bekhahid

In [9]:
for i in range(1,30):
    if i%7==0:
        print(i)
        break

7

# continue==> kharej shod az halghe va bargasht be an

In [10]:
for i in range(1,30):
    if i%7==0:
        print(i)
        continue

7
14
21
28

#  and===> hameye shorot bayad dorost bashand ta ejra shavand

In [19]:
a=16
if a>10 and a<15:
    print("true")
else:
    print("False")

False

# or ==> kafie ke yek tarafe shorot drost bashad ta ejra shavad

In [18]:
a=16
if a>10 or a<15:
    print("true")
else:
    print("False")

true

In [23]:
for i in range(1,21):
    
    if i>12 and i<16:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
16
17
18
19
20

In [24]:
for i in range(1,21):
    
    if i>12 and i<16:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12